<!-- Selected-Gif Modal -->
<div class="modal fade" id="selected-modal-<%=g.id%>" tabindex="-1" role="dialog" aria-labelledby="SelectedLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="login-title" id="LoginLabel"><%=g.title%></h4>
    </div>

    <div class="modal-body">
        <%=image_tag(g.url, class: "gif-in-modal")%>
      <br>
      <h4><%=g.url%></h4>
      <div class="gif-selected-details">
        <%if g.author%>
          Uploaded by: <%=g.author%>
        <%end%>
        <br>
        Submitted at: <%=g.created_at.strftime("%l:%M %p on %m/%d/%Y")%>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
