<%= form_for(@gif) do |g|%>
  <% if @gif.errors.any? %>
    <div id="error_message">
      <h2><%= pluralize(@gif.errors.count,"error")%> made this unable to save:</h2>
      <ul>
        <% @gif.errors.full_messages.each do |m|%>
          <li><%= m %></li>
        <%end%>
      </ul>
    </div>
    <%end%>

    <div class="field">
        <%= g.label :title%>
        <%= g.text_field :title%>
    </div>
    <br>
    <div class="field">
        <%= g.label :url%>
        <%= g.text_field :url%>
    </div>
    <br>
    <%= g.submit%>

<%end%>
