<!DOCTYPE html>
<html>
<head>
  <title>Gruff20</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--GOOGLE FONTS-->
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
  <!--/GOOGLE FONTS-->
</head>
  <body>
    <!--PAGE HEADING-->
    <div class = "jumbotron">
      <div class="container">
        <div="page-heading">
          <!--NAV BAR -->
            <% if current_user%>
              <div id = "nav_left">
              </div>
              <div id="nav_right">
                <a data-toggle="modal" href="#new-gif-modal" data-target="#new-gif-modal" class="btn btn-warning btn-md">Submit a GIFt</a>
                <%= link_to "Logout", logout_path, :class => "btn btn-primary btn-md"%>
                <div class="subtitle">
                  <h5>Logged in as <%=@current_user.username%></h5>
                </div>
              </div>
            <%else%>
              <div id ="nav_left">
              </div>
              <div id ="nav_right">
                <%= link_to "Sign up!", new_user_path, class: "btn btn-primary btn-md"%>
                <%= link_to "Login", "#login-modal", class: "btn btn-primary btn-md", "data-toggle" => "modal", "data-target" => "#login-modal"%>
              </div>
              <%end%>
              <!--/NAVBAR -->

            <!--GIF LOGO-->
            <div class = "title-gif">
              <img src="http://i.giphy.com/drKUWHwhWXIFW.gif" class="title-gif-inside">
            </div>
            <!--/GIF LOGO-->

            <!--NOTICES -->
          <% if flash[:notice] %>
            <div class = "container">
              <h2><%= flash[:notice] %></h2>
            </div>
          <%end%>
          <!--/NOTICES -->
        </div class="page-heading">
      </div>
    </div>




  <!-- User Log-in Modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="LoginLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="login-title" id="LoginLabel">Login</h4>
        </div>
        <div class="modal-body">
          <%= render "user_sessions/form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--/USER LOG-IN MODAL  -->

  <%= render "gifs/submittal_form" %>




  <%= yield %>



  </body>
</html>
