<!DOCTYPE html>
<html>
<head>
  <title>Gruff20</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user%>
    <h5 class = "header">Welcome, <%=@current_user.username%>!</h5>
  <%end%>
</head>
  <body>

    <div class = "jumbotron">
      <div class="container">

        <% if current_user%>
          <div id = "nav_left">
            <%= link_to "Edit Profile", edit_user_path(current_user.id), :class => "btn btn-primary btn-sm"%>
          </div>

          <div id="nav_right">
            <%= link_to "Logout", logout_path, :class => "btn btn-primary btn-sm"%>
            <br>
            <br>
            <a data-toggle="modal" href="#new-gif-modal" class="btn btn-primary btn-sm">Submit a GIFt</a>
          </div>


        <%else%>
          <div id ="nav_left">
            <%= link_to "Sign up!", new_user_path, class: "btn btn-primary btn-sm"%>
          </div>
          <div id ="nav_right">

            <%= link_to "Login", "#login-modal", class: "btn btn-primary btn-sm", "data-toggle" => "modal", "data-target" => "#login-modal"%>
          </div>
          <%end%>
        <div class = "title">
          <a href=<%=root_url%>>GIFt</a>
        </div>
        <div class = "subtitle">
          <h5>Helping you find the perfect GIFt for a friend since 2015</h5>
        </div>

      </div>
    </div>


    <!-- New-Gif Modal -->
  <%if params[:controller]=="gifs"%>
  <div class="modal fade" id="new-gif-modal" tabindex="-1" role="dialog" aria-labelledby="GifLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="gif-title" id="GifLabel">Submit a GIFt!</h4>
        </div>
        <div class="modal-body">
          <%= render "gifs/submittal_form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <%end%>

    <!-- User Log-in Modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="LoginLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="login-title" id="LoginLabel">Login</h4>
        </div>
        <div class="modal-body">
          <%= render "user_sessions/form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




  <%= yield %>



  </body>
</html>
